

/* header layout */
.main-header .navbar{
 background: #2a2c7a;
 border: none;
 border-radius: 0;
}

.main-header .navbar-brand{
 height: 80px;
 line-height: 80px;
 padding: 0 15px;
 text-transform: uppercase;
 font-size: 26px;
 color: #fff;
 
}

.main-header .navbar-nav > li > a {
 line-height: 80px;
 padding: 0 15px;
 color: #fff;
 transition: background .4s;
}

.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > .actual > a {
 background-color: rgba(0, 0, 0, 0.2);
}

.main-header .navbar-nav > .actual > a:hover {
 background: rgba(0, 0, 0, 0.5);
}


/* utilyties */







h2,
{
 color: white;
}

/* padding */

.padding-lr{
 padding-left: 20px;
 padding-right: 20px;
}

.padding-0{
 padding-left: 0;
 padding-right: 0;
}
/* box */
.box{
 text-align: center;
 padding: 16px;
 border: 1px solid pink;
 background-color: red;
}

.box-height{
 height: 97px;
}

.box-top{
 margin-top: 50px;
}

.box-bottom{
 margin-bottom: 20px;
}
