/* general setting */

body{
padding-top: 90px;
font-family: "lato" , sans-serif;
}

/* header layout */

.main-header .navbar{
 background: #2a2c7a;
 border: none;
 border-radius: 0;
}

.main-header .navbar-brand{
 height: 80px;
 line-height: 80px;
 padding: 0 15px;
 text-transform: uppercase;
 font-size: 26px;
 color: #fff;

}

.main-header .navbar-nav > li > a {
 line-height: 80px;
 padding: 0 15px;
 color: #fff;
 transition: background .4s;
}

.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > .actual > a {
 background-color: rgba(0, 0, 0, 0.2);
}

.main-header .navbar-nav > .actual > a:hover {
 background: rgba(0, 0, 0, 0.5);
}



/* utilyties */

/* type */
h1
h2,
h3,
h4,
h5,
h6{
 margin-top: 0;
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
}

/* layout */
section{
 padding-top: 100px;
 padding-bottom: 100px;
}

.section-green{
 background:#1abc9c;
 color: #fff;
}

/* jumbotron */

.hero-image{
 max-width: 250px;
 margin-bottom: 20px;
}

.hero h3{
 font-weight: 400;
}

/* star divider */

.star-divider{
 width: 300px;
 max-width: 100%;
 margin: 30px auto;
 text-align: center;
}

.star-divider::before,
.star-divider::after{
 content: "";
 display: inline-block;
 width: 30%;
 height: 4px;
 border-radius: 2px;
 background: #fff;
}

.star-divider i.fa-star{
 display: inline-block;
 width: 20%;
 font-size: 30px;
 vertical-align: middle;
}

.star-divider .star-blue::before,
.star-divider .star-blue:after{
 background: #2c3e50;
}

.star-divider .star-blue  i.fa-star{
 color: #2c3e50;
}

/* PORTFOLIO */
.portfolio-item{
 position: relative;
 margin-bottom: 30px;
 cursor: pointer;
}
